# These are my system wide aliases"

# start with ls
# park the original ls to lso
# this is the convention I follow. o indicates old
alias lso='ls'
alias ls='exa'
alias ll='ls -la --icons'
alias l='ls -l --icons'

# vim. I use newovim
alias vim='nvim'
alias v='nvim'

# cat is a bat
alias cato='/usr/bin/cat'
alias cat='bat'

# let git be g
alias g='git'

# ripgrep is better than grep
alias grep='rg'

# top htop
alias top='btm'
alias htop='btm'

alias time='hyperfine'

# finally I exit with e
alias e='exit'
