# These are my system wide aliases"

# start with ls
# park the original ls to lso
# this is the convention I follow. o indicates old
alias lso='ls'
alias ls='exa'
alias ll='ls -la --icons'
alias l='ls -l --icons'

alias vim='nvim'
alias v='nvim'

# cat is a bat
# alias cato='/usr/bin/cat'
# alias cat='bat'

# let git be g
alias g='git'
alias gpom='git pull origin master'
alias gmo='git merge origin'
alias gc='git checkout'
alias gs='git status'
alias gcm='git commit -m'
alias ga='git add'
alias gb='git branch'
alias gf='git fetch'
alias gp='git pull'
alias gr='git restore'
alias push='git push origin'
alias pull='git pull origin'
alias stash='git stash'
alias sapply='git stash apply'
alias gl='g log --oneline --pretty --name-only'

# ripgrep is better than grep
alias grep='rg'

# top htop
alias top='btm'
alias htop='btm'

alias time='hyperfine'

# finally I exit with e
alias e='exit'

alias python='python3'
alias pip='pip3'

# start emacs client
alias em="emacsclient -c -n -a ''"
